import "../mst/versioninfo.kdl"
import "../mst/logincampaign.kdl"
import "../mst/userlevel.kdl"
import "../mst/town.kdl"
import "../mst/dungeonkey.kdl"
import "../mst/arena.kdl"
import "../mst/gatcha.kdl"
import "../mst/define.kdl"
import "../mst/npc.kdl"
import "../mst/slots.kdl"
import "../mst/banner.kdl"
import "../mst/excludeddungeon.kdl"
import "../mst/passiveskill.kdl"
import "../mst/noticeinfo.kdl"
import "../mst/dailytaskbonus.kdl"
import "../net/signalkey.kdl"
import "../net/challenge_arena.kdl"
import "../net/guild.kdl"
import "../net/daily_login.kdl"
import "../net/summonerjournaluserinfo.kdl"
import "../net/userinfo.kdl"
import "../net/items.kdl"

json InitializeReq {
    doc "Initialization command"

    field loginInfo type="[LoginInfoReq]::size(1)" {
        key IKqx1Cn9
        doc "TODO"
    }

    field mstRequests type="[MstUrlList]" {
        key "KeC10fuL"
        doc "MST that should be sent"
     }
}


// @json
json InitializeResp {
    doc "Response of the initialize command"

    // # cachable
    field loginCampagin  type="[LoginCampaignMst]::size(1)" {
        key Bd29Pqw0
        doc "Configuration about the current login progression"
    }

    field loginCampaignReward type="[LoginCampaignReward]" {
        key "bD18x9Ti"
        doc "Configuration about each day of the login campaign"
    }

    field progression type="[UserLevelMst]" {
        key "YDv9bJ3s"
        doc "Configuration of the user stats progression"
    }

    field mst type="[VersionInfo]" {
        key "KeC10fuL"
        doc "Configuration of the versions of the MSTs"
    }

    field townFacility type="[TownFacilityMst]" {
        key "Lh1I3dGo"
        doc TODO
    }

    field townFacilityLv type="[TownFacilityLvMst]" {
        key "d0EkJ4TB"
        doc TODO
    }

    field townLocation type="[TownLocationMst]" {
        key "1y2JDv79"
        doc TODO
    }

    field townLocationLv type="[TownLocationLvMst]" {
        key "9ekQ4tZq"
        doc TODO
    }

    field dungeonKeys type="[DungeonKeyMst]" {
        key "4NG79sX1"
        doc "Configuration of the Vortex dungeon with keys"
    }

    field arenaRanks type="[ArenaRankMst]" {
        key "6kWq78zx"
        doc "PVP Arena rankings"
    }

    field gachaEffects type="[GachaEffectMst]" {
        key "Pf97SzVw"
        doc TODO
    }

    field gachas type="[GachaMst]" {
        key "5Y4GJeo3"
        doc "Configuration of current Gacha banners"
    }

    field defines type="DefineMst" {
        key "VkoZ5t3K"
        doc "Configuration of the server"
    }

    field npcs type="[NpcMst]" {
        key "hV5vWu6C"
        doc TODO
    }

    field bannerInfo type="[BannerInfoMst]" {
        key "Pk5F1vhx"
        doc TODO
    }

    field extraPassiveSkills type="[ExtraPassiveSkillMst]" {
        key "z5U7utsm"
        doc TODO
    }

    field noticeInfo type="NoticeInfo" {
        key "Pj6zDW3m"
        doc "Configuration of notices"
    }

    // # user specific
    field signalKey type="[SignalKey]::size(1)" {
        key "6FrKacq7"
        doc TODO
    }

    field challengeArenaUserInfo type="[ChallengeArenaUserInfo]::size(1)" {
        key "XGmGpmYW"
        doc "User current progression in Challenge Arena"
    }

    field dailyTaskBonuses type="[DailyTaskBonusMst]::size(1)" {
        key "p283g07d"
        doc TODO
    }

    field dailyTaskPrizes type="[DailyTaskPrizeMst]" {
        key "a739yK18"
        doc TODO
    }

    field dailyTasks type="[DailyTaskMst]" {
        key "k23D7d43"
        doc TODO
    }

    field dailyLoginRewards type="DailyLoginRewardsUserInfo" {
        key "Drudr2w5"
        doc TODO
    }

    field guild type="GuildInfo" {
        key "IkdSufj5"
        doc "Guild information"
    }

    field videoAdSlots type="[VideoAdsSlotGameInfo]::size(1)" {
        key "mebW7mKD"
        doc TODO
    }

    field summonerJournal type="SummonerJournalUserInfo" {
        key "M3dw18eB"
        doc TODO
    }

    field loginInfo type="[LoginInfoResp]::size(1)" {
        key "IKqx1Cn9"
        doc "TODO"
    }

}

json UnkUserInfoNetReq {
    doc "TODO"

    field unk type="i32::str" {
        key "ad37Bdr1"
        doc "TODO"
    }
}

json UserInfoReq {
    doc "TODO"

    field signalKey type="[SignalKey]::size(1)" {
        key "6FrKacq7"
        doc TODO
    }

    field loginInfo type="[LoginInfoReq]::size(1)" {
        key "IKqx1Cn9"
        doc "TODO"
    }

    field mstRequests type="[MstUrlList]" {
        key "KeC10fuL"
        doc "MST that should be sent"
    }

    field unk type="[UnkUserInfoNetReq]::size(1)" {
        key "563Dtye3"
        doc "TODO"
    }
}

json UserInfoResp {
    doc "TODO"

    // TODO: PQ56vbkI ??

    field loginInfo type="[LoginInfoResp]::size(1)" {
        key "IKqx1Cn9"
        doc "TODO"
    }

    field teamInfo type="[UserTeamInfo]::size(1)" {
        key "fEi17cnx"
        doc "TODO"
    }
    
	field unitInfo type="[UserUnitInfo]" {
        key "4ceMWH6k"
        doc "TODO"
    }
    field partyDeckInfo type="[UserPartyDeckInfo]" {
        key "dX7S2Lc1"
        doc "TODO"
    }
    field unitDictionary type="[UserUnitDictionary]" {
        key "GV81ctzR"
        doc "TODO"
    }
    field favorite type="[UserFavorite]" {
        key "3kcmQy7B"
        doc "TODO"
    }
    field clearMissionInfo type="[UserClearMissionInfo]" {
        key "UT1SVg59"
        doc "TODO"
    }
    field warehouseInfo type="[UserWarehouseInfo]" {
        key "9wjrh74P"
        doc "TODO"
    }
    field itemFavorite type="[ItemFavorite]" {
        key "VSRPkdId"
        doc "TODO"
    }
    field itemDictionaryInfo type="[UserItemDictionaryInfo]" {
        key "bd5Rj6pN"
        doc "TODO"
    }
    field arenaInfo type="[UserArenaInfo]" {
        key "8jBJ7uKR"
        doc "TODO"
    }
    field archive type="[UserTeamArchive]" {
        key "zI2tJB7R"
        doc "TODO"
    }
    field arena_archive type="[UserTeamArenaArchive]" {
        key "PQ56vbkI"
        doc "TODO"
    }
    field giftInfo type="[UserGiftInfo]" {
        key "30uygM9m"
        doc "TODO"
    }
    field campaignInfo type="[UserLoginCampaignInfo]::size(1)" {
        key "3da6bd0a"
        doc "TODO"
    }
    field summonerJournal type="SummonerJournalUserInfo" {
        key "M3dw18eB"
        doc "TODO"
    }
    field signalKey type="[SignalKey]::size(1)" {
        key "6FrKacq7"
        doc "TODO"
    }

    // Cachable!

    field gachaInfo type="[GachaInfo]" {
        key "1IR86sAv"
        doc "TODO"
    }
    field videoAdInfo type="[VideoAdInfo]" {
        key "j129kD6r"
        doc "TODO"
    }
    field videoAdRegion type="[VideoAdRegion]" {
        key "bpD29eiQ"
        doc "TODO"
    }
    field noticeInfo type="NoticeInfo" {
        key "Pj6zDW3m"
        doc "Configuration of notices"
    }
    field excludedDungeonMissions type="[ExcludedDungeonMissionMst]" {
        key "3aDk1xk7"
        doc "TODO"
    }
}

json ReinforcementInfo {
    doc "TODO"

    field mock type="str" {
        doc "TODO"
        key "INVALID"
    }
}

json FriendGetResp {
    doc "TODO"

    field info type="[ReinforcementInfo]" {
        key "xZH6EIQ7"
        doc "TODO"
    }
}
