json PermitPlace {
    doc "TODO"

    field mock type="str" {
      key "INVALID"
      doc "TODO"
    }
}

json PermitPlaceML {
    doc "TODO"

    field mock type="str" {
      key "INVALID"
      doc "TODO"
    }
}

json PermitPlaceSP {
    doc "TODO"

    field mock type="str" {
      key "INVALID"
      doc "TODO"
    }
}

json PermitReceipe {
  doc "TODO"

  field mock type="str" {
    key "INVALID"
    doc "TODO"
  }
}