json SummonerJournalUserInfo {
    doc TODO

    field user_id type="str" {
        key "h7eY3sAK"
        doc "TODO"
    }

    field points type="i32::int" {
        key "9hH0neGa"
        doc "TODO"
    }

    field journal_flag type="i32::int" {
        key "da365dB8"
        doc "TODO"
    }

    field unk type="i32::int" {
        key "3a8b9D8i"
        doc "TODO"
        // NOTE: not used in last version
    }
}
