import "example-2.kdl"

str-enum Baz {
    doc "abd"

    variant foo {
        doc "abc"
        value "a"
    }

    variant bar {
        doc "abc"
        value "a"
    }
}

http GuestLoginReq { }

xml TestXML { }

plist TestPlist { }

json UserInfoReq {
    doc "test"
    hash "Foo"
}

json InitializeReq {
    doc "Initialization command"

    field user-info type=UserInfoReq {
        key "foo"
        doc "User information request"
    }

    field mst-requests type="%{str => str}" {
        key "KeC10fuL"
        doc "MST that should be sent"
    }
}
