/*
"""This module contains the basic game request/response."""

@processable
class GmeErrorFlags(Flag):
    """Flags of the error happend in the game."""
    
    __doc_fields__ = {
        0: "No error oncurred.",
        1: "The server oncurred an error.",
        2: "The custom command should be handled."
    }

    NoError = 0
    IsInError = 1
    ShouldHandleCommands = 2

@processable
class GmeErrorCommand(Enum):
    "Type of command to do after the user presses OK."

    __doc_fields__ = {}

    Retry = 2
    Continue = 3
    Close = 4
    Close2 = 5
    ReturnToGame = 6
    RaidError = 7
    Continue2 = 8
    LogoutFacebook = 9
    Close3 = 10
*/

int-enum GmeErrorFlags start=0 {
    doc "Flags of the error that happened in the game."

    variant no-error {
        doc "No error occurred"
        value 0
    }

    variant is-in-error {
        doc "The server generated an error."
        value 1
    }

    variant should-handle-commands {
        doc "The custom command should be handled"
        value 2
    }
}

int-enum GmeErrorCommand start=0 {
    doc "Type of command to do after the user presses OK."

    variant retry {
        doc "TODO"
        value 2
    }

    variant continue {
        doc "TODO"
        value 3
    }

    variant close {
        doc "TODO"
        value 4
    }

    variant close-2 {
        doc "TODO"
        value 5
    }

    variant return-to-game {
        doc "TODO"
        value 6
    }

    variant raid-error {
        doc "TODO"
        value 7
    }

    variant continue-2 {
        doc "TODO"
        value 8
    }


    variant logout-facebook {
        doc "TODO"
        value 9
    }

    variant close-3 {
        doc "TODO"
        value 10
    }
}

json GmeError {
    doc "Object that stores an error during a Server (gme) action"

    field flag type="GmeErrorFlags" { // TODO(arves): i32 -> GmeErrorFlags
        doc "Error flags"
        key "3e9aGpus"
    }

    field cmd type="GmeErrorCommand" { // TODO(arves): i32 -> GmeErrorCommand
        doc "Action to do after the user pressed OK in the error dialog"
        key "iPD12YCr"
    }

    field message type="str" {
        doc "Message to show on the error dialog"
        key "ZC0msu2L"
    }
    field url type="str" {
        doc "URL to open in the default browser after the user pressed OK in the error dialog"
        key "zcJeTx18"
    }
}

json GmeHeader {
    doc "Header of a Server (gme) message"
    field id type="str" {
        doc "ID of the request"
        key "Hhgi79M1"
    }
    field client_id type="str" {
        doc "ID of the client that made the request"
        key "aV6cLn3v"
    }
}

json GmeBody {
    doc "Content of a Server (gme) message in case of a successful message"
    field body type="str" {
        key "Kn51uR4Y"
        doc "Encrypted GME JSON that contains the message"
    }
}

json GmeMessage {
    doc "A Brave Frontier Game server (gme) message"
    field header type="GmeHeader" {
        doc "Header of the message"
        key "F4q6i9xe"
    }
    field body type="GmeBody" {
        doc "Body of the message if any"
        key "a3vSYuq2"
        optional #true
    }
    field error type="GmeError" {
        doc "Error of the message if any"
        key "b5PH6mZa"
        optional #true
    }
}
