str-enum Ciao {
    doc "Aaaa"
    variant a {
        doc "A doc"
        value "MyA"
    }
    variant b {
        doc "A doc"
        value "4"
    }
}

int-enum Ciao2 start=0 {
    doc "Un enum??"
    variant a value=1 {
        doc "Numero 1"
    }
    variant b value=2 {
        doc "N 2"
    }
}

json A {
    doc "Un json"
    field p type="i32::int" {
        key "una_p"
        doc "Ciaoo"
    }
    field p2 type="i32::str" {
        key "una_p2"
        doc "Seh"
    }
}
