// TODO(arves): I can't be bothered to fix the cli now...

//import "mst/arena.kdl"
//import "mst/banner.kdl"
//import "mst/dailytaskbonus.kdl"
//import "mst/define.kdl"
//import "mst/dungeonkey.kdl"
import "mst/events.kdl"
//import "mst/excludeddungeon.kdl"
import "mst/firstdesc.kdl"
//import "mst/gatcha.kdl"
import "mst/gift.kdl"
//import "mst/logincampaign.kdl"
//import "mst/noticeinfo.kdl"
//import "mst/npc.kdl"
//import "mst/passiveskill.kdl"
//import "mst/receipe.kdl"
//import "mst/slots.kdl"
//import "mst/town.kdl"
//import "mst/unit.kdl"
//import "mst/url.kdl"
//import "mst/userlevel.kdl"
//import "mst/versioninfo.kdl"


import "net/badgeinfo.kdl"
//import "net/challenge_arena.kdl"
//import "net/daily_login.kdl"
import "net/featurecheck.kdl"
import "net/featuring_gate.kdl"
import "net/friends.kdl"
import "net/gme.kdl"
//import "net/guild.kdl"
//import "net/gumi_live.kdl"
import "net/handlers.kdl"
//import "net/items.kdl"
import "net/missionbreakinfo.kdl"
import "net/npcmessageoverwriteinfo.kdl"
//import "net/permitplace.kdl"
import "net/raid.kdl"
import "net/reinforcementinfo.kdl"
//import "net/signalkey.kdl"
//import "net/summonerjournaluserinfo.kdl"
import "net/summonticketuserinfo.kdl"
//import "net/userinfo.kdl"
