enum RewardType {
    doc "TODO"

    variant Type1 {
        doc "TODO"
    }

    variant Type2 {
        doc "TODO"
    }
}

data ArenaRankMst  {
    hash "6kWq78zx"

    field id type=i32 {
        hash "JmFn3g9t" 
        doc "Ranking ID"
    }

    field name type=str  {
        hash "rGm09bav"
        doc "Ranking name"
    }

    field rank_point_start type=i32  {
        hash "w0aTd94Y"
        doc "Points when this rank starts (included)"
    }

    field rank_point_end type=i32  {
        hash "1U3eBCyY"
        doc "Points when this rank ends (included)"
    }

    field reward_type type=RewardType  {
        hash "IkmC8gG2"
        doc "Type of reward"
    }

    // list[int]: ArrayType.DOUBLEDOT
    field reward_param type="[i32,]" {
        hash "empaR60j"
        doc  "Configuration of the reward"
    }

    field scenario_info type=str {
        hash "N4XVE1uA"
        doc "ID of the scene to play"
    }
}
