// @keyjson(key_group = "Bd29Pqw0")
json LoginCampaignMst {
    doc "TODO"

    field id type="i32::str" {
        key "H1Dkq93v"
        doc "TODO"
    }

    field start_date type="datetime-unix" {
        key "qA7M9EjP"
        doc "TODO"
    }

    field total_days type="i32::str" {
        key "1adb38d5"
        doc "TODO"
    }

    field image type="str" {
        key "b38adb8i"
        doc "TODO"
    }
}

// @keyjson(key_group = "bD18x9Ti", array=ArrayStep.Array)
json LoginCampaignReward {
    doc "TODO"

    field id type="i32::str" {
        key "H1Dkq93v"
        doc "TODO"
    }

    field reward_day type="i32::str" {
        key "n0He37p1"
        doc "TODO"
    }

    field reward_img type="str" {
        key "b38adb8i"
        doc "TODO"
    }

}
