json ReceipeMst default-encoding=int {
    hash "8f0bCciN"

    doc """
    Multiline document string.

    # Example
    """

    // encoding=str overrides i32 encoding defined as default above
    field id type=i32 encoding=str  {
        hash "4HqhTf3a"
        doc "TODO"
    }

    field item_id type=i32  {
        hash "kixHbe54"
        doc "TODO"
    }

    field item_count type=i32  {
        hash "wgV86x1q"
        doc "TODO"
    }

    field materials type="[str]" {
        hash "75YV2q1i"
        doc "TODO"
    }

    field karma type=i32 {
        hash "HTVh8a65"
        doc "TODO"
    }

    field keyitem_ids type=str {
        hash "7dEB1Kwj"
        doc "TODO"
    }

    field unk type=str {
        hash "XuJL4pc5"
        doc "TODO"
    }

    field unk2 type=i32 {
        hash "H6k1LIxC"
        doc "TODO"
    }

    field unk3 type=datetime {
        hash "qA7M9EjP"
        doc "TODO"
    }

    field unk4 type=datetime {
        hash "SzV0Nps7"
        doc "TODO"
    }
}
