// from schema import *

// @keyjson(key_group = "3da6bd0a", array= ArrayStep.Array)
json UserLoginCampaignInfo {
    doc TODO
    field id type="i32::int" {
        key "H1Dkq93v"
        doc "TODO"
    }

    field current_day type="i32::int" {
        key "ad6i23pO"
        doc "TODO"
    }

    field total_days type="i32::int" {
        key "1adb38d5"
        doc "TODO"
    }

    field first_for_the_day type="bool::int" {
        key "4tswNoV9"
        doc "TODO"
    }

}
